server:
  port: 8222


spring:
  datasource:
    url: jdbc:mysql://localhost:3306/excourse?serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
  servlet:
    multipart:
      max-request-size: 1000MB
      max-file-size: 100MB
  devtools:
    restart:
      enabled: true  #设置开启热部署
      additional-paths: src/main/java #重启目录
  profiles:
    active: release

# mybatis-plus 配置
mybatis-plus:
  mapper-locations: classpath*:/mapper/**.xml
  configuration:
        cache-enabled: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

