server:
  port: 8221


spring:
  datasource:
    url: jdbc:mysql://localhost:3306/excourse?serverTimezone=Asia/Shanghai
    username: root
    password: 19990108
    driver-class-name: com.mysql.cj.jdbc.Driver
    type: com.alibaba.druid.pool.DruidDataSource
  servlet:
    multipart:
      max-request-size: 1000MB
      max-file-size: 100MB

# mybatis-plus 配置
mybatis-plus:
  mapper-locations: classpath*:/mapper/**.xml
  configuration:
    cache-enabled: true

